:root {
  --background-color: #14120b;
  --primary-color: #ffffff;
  --hover-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
}

/* Header section css */
header {
  width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  background-color: var(--background-color);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-weight: 200;
  font-size: 14px;
}

header ul li {
  padding: 20px 20px;
  cursor: pointer;
}

header ul li:hover {
  color: var(--hover-color);
  transition: color 0.5s;
}

header .sign-in-btn {
  background-color: transparent;
  color: var(--primary-color);
  border: 0.5px solid #edececbc;
  padding: 5px 14px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  font-weight: 200;
}

header .sign-in-btn:hover {
  background-color: #cccccc4b;
  transition: background-color 0.2s;
}

header .download-btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  font-weight: 200;
  cursor: pointer;
}

/* Main section  */

main {
  width: 1300px;
  margin: auto;
}

#hero-section {
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

#hero-section h1 {
  color: white;
  font-weight: 300;
  width: 650px;
  line-height: 1.3;
}

#hero-section .download-btn-1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.hero-section-img {
  margin-top: 35px;
}

/* Trust By section */

#trusted-by {
  text-align: center;
  margin-top: 50px;
}
#trusted-by h2 {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 40px;
}
.card-container {
  display: flex;
  gap: 10px;
}
.company-cards {
  width: 155px;
  height: 100px;
  border-radius: 10px;
  background-color: #1b1913;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-cards img {
  width: 60px;
}

/* Feature section */

#features {
  margin-top: 100px;
}

.feature-card {
  background-color: #1b1913;
  padding: 18px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
  margin-bottom: 60px;
  border-radius: 10px;
}

.feature-text h3 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}

.feature-card p {
  text-align: left;
  font-size: 22px;
  color: #999997;
  list-style: 1.2;
  margin-bottom: 15px;
  font-weight: 300;
}

.feature-link {
  text-decoration: none;
  color: #f54e00;
  font-size: 16px;
}

.feature-link:hover {
  color: #c0420f;
}

.feature-card:hover {
  background-color: #1d1b15;
}

.feature-text {
  padding-right: 40px;
}

.feature-text-right {
  margin-left: 30px;
  padding-left: 0;
}

/* Testomonial section */
#testimonial {
  margin-top: 100px;
}

#testimonial h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 60px;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.testimonial-card {
  padding: 16px;
  color: var(--primary-color);
  background-color: #1b1913;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
}

.testimonial-card p {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
}

.testimonial-details {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 200;
}

.testimonial-details span {
  display: block;
  margin-top: 5px;
  color: #999997;
}

.testimonial-details img {
  border-radius: 4px;
}

/* Frontier section */

#frontier {
  margin-top: 200px;
  color: var(--primary-color);
}

#frontier h2 {
  font-weight: 300;
  font-size: 26px;
}

.frontier-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.frontier-card {
  padding: 16px;
  background-color: #1b1913;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.frontier-card h3 {
  font-weight: 300;
  color: #edecec;
}

.frontier-card p {
  color: #999997;
  line-height: 1.6;
}

.frontier-card a {
  color: #f54e00;
  font-size: 16px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
}

.frontier-card a:hover {
  color: #c0420f;
  transition: color 0.2s;
}

/* Change log section */

#changelog {
  margin-top: 100px;
  color: var(--primary-color);
}

#changelog h2 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 24px;
}

.changelog-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 25px;
}

.changelog-card{
  display: flex;
  flex-direction: column;
  background-color: #1b1913;
  height: 120px;
  padding: 16px 17px 20px 17px;
  border-radius: 10px;
  cursor: pointer;
}

.changelog-card:hover{
  background-color: #1d1b15;
  transition: background-color 0.2s;
}
.changelog-details{
  display: flex;
  align-items: center;
  gap: 10px;
  height:auto;
  /* margin-bottom: 10px; */
  height: 40px;
}
.changelog-card .changelog-version-no{
  border: 1px solid lightslategray;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 15px;
}

.changelog-card .changelog-date{
  color: #999997;
  font-size: 16px;
}

.changelog-card p{
  font-size: 16px;
  color: #edecec;
  margin-top: 5px;
}

#changelog a{
  color: #f54e00;
  font-size: 16px;
  text-decoration: none;
}

#changelog a:hover{
  color: #c0420f;
}