:root {
  --background-color: #14120b;
  --primary-color: #ffffff;
  --hover-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
}

/* Header section css */
header {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header > div {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  background-color: var(--background-color);
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-weight: 200;
  font-size: 14px;
}

header ul li {
  padding: 20px 20px;
  cursor: pointer;
}

header ul li:hover {
  color: var(--hover-color);
  transition: color 0.5s;
}

header .sign-in-btn {
  background-color: transparent;
  color: var(--primary-color);
  border: 0.5px solid #edececbc;
  padding: 5px 14px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  font-weight: 200;
}

header .sign-in-btn:hover {
  background-color: #cccccc4b;
  transition: background-color 0.2s;
}

header .download-btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  font-weight: 200;
  cursor: pointer;
}

/* Main section  */

main {
  width: 1300px;
  margin: auto;
}

#hero-section {
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

#hero-section h1 {
  color: white;
  font-weight: 300;
  width: 650px;
  line-height: 1.3;
}

#hero-section .download-btn-1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.hero-section-img {
  margin-top: 35px;
}

/* Trust By section */

#trusted-by {
  text-align: center;
  margin-top: 50px;
}
#trusted-by h2 {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 40px;
}
.card-container {
  display: flex;
  gap: 10px;
}
.company-cards {
  width: 155px;
  height: 100px;
  border-radius: 10px;
  background-color: #1b1913;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-cards img {
  width: 60px;
}

/* Feature section */

#features {
  margin-top: 100px;
}

.feature-card {
  background-color: #1b1913;
  padding: 18px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
  margin-bottom: 60px;
  border-radius: 10px;
}

.feature-text h3 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}

.feature-card p {
  text-align: left;
  font-size: 22px;
  color: #999997;
  list-style: 1.2;
  margin-bottom: 15px;
  font-weight: 300;
}

.feature-link {
  text-decoration: none;
  color: #f54e00;
  font-size: 16px;
}

.feature-link:hover {
  color: #c0420f;
}

.feature-card:hover {
  background-color: #1d1b15;
}

.feature-text {
  padding-right: 40px;
}

.feature-text-right {
  margin-left: 30px;
  padding-left: 0;
}

/* Testomonial section */
#testimonial {
  margin-top: 100px;
}

#testimonial h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 60px;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.testimonial-card {
  padding: 16px;
  color: var(--primary-color);
  background-color: #1b1913;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
}

.testimonial-card p {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
}

.testimonial-details {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 200;
}

.testimonial-details span {
  display: block;
  margin-top: 5px;
  color: #999997;
}

.testimonial-details img {
  border-radius: 4px;
}

/* Frontier section */

#frontier {
  margin-top: 200px;
  color: var(--primary-color);
}

#frontier h2 {
  font-weight: 300;
  font-size: 26px;
}

.frontier-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.frontier-card {
  padding: 16px;
  background-color: #1b1913;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.frontier-card h3 {
  font-weight: 300;
  color: #edecec;
}

.frontier-card p {
  color: #999997;
  line-height: 1.6;
}

.frontier-card a {
  color: #f54e00;
  font-size: 16px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
}

.frontier-card a:hover {
  color: #c0420f;
  transition: color 0.2s;
}

/* Change log section */

#changelog {
  margin-top: 100px;
  color: var(--primary-color);
}

#changelog h2 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 24px;
}

.changelog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 25px;
}

.changelog-card {
  display: flex;
  flex-direction: column;
  background-color: #1b1913;
  height: 120px;
  padding: 16px 17px 20px 17px;
  border-radius: 10px;
  cursor: pointer;
}

.changelog-card:hover {
  background-color: #1d1b15;
  transition: background-color 0.2s;
}
.changelog-details {
  display: flex;
  align-items: center;
  gap: 10px;
  height: auto;
  /* margin-bottom: 10px; */
  height: 40px;
}
.changelog-card .changelog-version-no {
  border: 1px solid lightslategray;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 15px;
}

.changelog-card .changelog-date {
  color: #999997;
  font-size: 16px;
}

.changelog-card p {
  font-size: 16px;
  color: #edecec;
  margin-top: 5px;
}

#changelog a {
  color: #f54e00;
  font-size: 16px;
  text-decoration: none;
}

#changelog a:hover {
  color: #c0420f;
}

/* About Team section */

#about-team {
  margin-top: 150px;
  color: var(--primary-color);
  border-radius: 4px;
  background-color: #1b1913;
  padding: 18px;
  display: flex;
}

.about-team-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  gap: 20px;
}

.about-team-details h3 {
  font-weight: 300;
  text-align: left;
}

.about-team-details a {
  text-decoration: none;
  color: #f54e00;
  font-size: 16px;
  width: fit-content;
}

.about-team-details a:hover {
  color: #c0420f;
  transition: color 0.2s;
}

/* Recent Highlight section */

#recent-highlights {
  background-color: #1b1913;
  margin-top: 150px;
  padding: 90px 20px;
  z-index: 111;
}

.recent-highlights-container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
}

.recent-highlights-text {
  flex-grow: 1;
}

.recent-highlights-cards-container {
  flex-grow: 2;
}

.recent-highlights-text h2 {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 300;
}
.recent-highlights-cards-container {
  display: grid;
  grid-template-columns: 650px;
  grid-template-rows: repeat(1, 1fr);
  gap: 15px;
}
.recent-highlights-card {
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--primary-color);
  cursor: pointer;
  background-color: rgb(32, 30, 24);
  color: #edecec;
}

.recent-highlights-card:hover {
  background-color: rgb(38, 36, 30);
}

.recent-highlights-card p:nth-child(2),
p:nth-child(3) {
  color: #999997;
}


.recent-highlights-cards-container a{
 text-decoration: none;
 color: #f54e00;
 font-size: 16px;
 margin-top: 10px;
 width: fit-content;
}

.recent-highlights-cards-container a:hover{
  color: #c0420f;
  transition: color 0.2s;
}

/* CTA section */
#cta{
  background-color: var(--background-color);
  padding: 135px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary-color);
  gap: 10px;
}


#cta h2{
  font-size: 72px;
  font-weight: 300;
}

#cta button{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  gap: 5px;
}

/* Footer */

footer{
  background-color: #1b1913;
  padding: 67px 0px 0px;
}

footer > div{
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.footer-menus{
color: var(--primary-color);
display: flex;
flex-direction: column;
gap: 15px;
}

.footer-menus ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.footer-menus ul li{
  cursor: pointer;
  font-size: 14px;
}

.footer-menus h3{
  font-size: 14px;
  color: #999997;
  font-weight: 300;
}

.footer-extra{
  /* border: 1px solid red; */
  align-items: center;
  margin-top: 100px;
  /* padding: 0px 5px; */
  display: flex;
  justify-content: space-between;
  color: #999997;
  font-size: 14px;
  padding-bottom: 40px;
  align-items: center;
}

.footer-extras-left a{
  color: #999997;
  text-decoration: none;
}

.footer-extras-left a:hover{
  color: var(--primary-color);
  /* text-decoration: none; */
}

.footer-extras-left span{
  margin-right: 5px;
}

.footer-extras-right{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-buttons-pill, .lang-pill{
  background-color: rgb(38, 36, 30);
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
  padding: 3px 0px;
  border-radius: 3.40282e38px;
}

.theme-buttons-pill span{
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
}

.active-pill{
  background-color: #99999775;
  padding: 5px 10px;
  border-radius: 3.40282e38px;
}

.lang-pill{
  padding: 9px 15px;
  display: flex;
  gap: 5px;
}
