:root {
  --background-color: #14120b;
  --primary-color: #ffffff;
  --hover-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
}

/* Header section css */
header {
  /* border: 1px solid red; */
  width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-weight: 200;
  font-size: 14px;
}

header ul li {
  padding: 20px 20px;
  cursor: pointer;
  /* transition: color 0.5s; */
}

header ul li:hover {
  color: var(--hover-color);
  transition: color 0.5s;
}

header .sign-in-btn {
  background-color: transparent;
  color: var(--primary-color);
  border: 0.5px solid #edececbc;
  padding: 5px 14px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  font-weight: 200;
}

header .sign-in-btn:hover {
  background-color: #cccccc4b;
  transition: background-color 0.2s;
}

header .download-btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  font-weight: 200;
  cursor: pointer;
}

/* Main section  */

main {
  /* border: 1px solid red; */
  width: 1300px;
  margin: auto;
}

#hero-section {
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

#hero-section h1 {
  color: white;
  font-weight: 300;
  width: 650px;
  line-height: 1.3;
}

#hero-section .download-btn-1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.hero-section-img {
  margin-top: 35px;
}

/* Trust By section */

#trusted-by {
  text-align: center;
  margin-top: 50px;
}
#trusted-by h2 {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 40px;
}
.card-container {
  display: flex;
  gap: 10px;
}
.company-cards {
  width: 155px;
  height: 100px;
  border-radius: 10px;
  background-color: #1b1913;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-cards img {
  width: 60px;
}
